@{ 
    SymbolIndex.Models.Font fontCurrent = (SymbolIndex.Models.Font)ViewData["fontCurrent"];
    IList<SymbolIndex.Models.Symbol> symbols = (IList<SymbolIndex.Models.Symbol>)ViewData["symbols"];
    //string unicodeHexFormater = "&#x";
}
<tbody id="list">
    @{ int i = 0; }
    @foreach (var symbol in symbols)
    {
        <tr>
            <td id="sid_@i" style="width:5%">@Html.DisplayFor(modelItem => symbol.Id)</td>
            <td style="width:5%" class="myFont"><font id="content_@i" size="8" face="@fontCurrent.FontName">@(symbol.Content)</font></td>
            <td id="sname_@i" style="width:10%"></td>
            <td style="width:65%;word-wrap:break-word">
                <input id="tags_@i" style="width:100%;padding-left:2px;padding-right:2px"
                       value="@SymbolIndex.Data.SIExtension.ToString(symbol.Tags)" />
            </td>
            <td style="width:15%"><button class="btn btn-danger btn-xs" onclick="removeSymbol(@symbol.Id)">Xoá</button></td>
        </tr>
        i++;
    }
</tbody>
<div id="list_count" style="visibility:hidden">@i</div>