@{SymbolIndex.Models.Font fontCurrent = ViewBag.FontCurrent;}
<style id="font_style">
        @@font-face {
            font-family: '@fontCurrent.FontName';
            src: url(@fontCurrent.FontUrl);
        }
        .myFont{
                font-family: '@fontCurrent.FontName';
        }
</style>
<div class="myFont">
    <font face="@fontCurrent.FontName">&nbsp;</font>
</div>
<script>
    var a = document.getElementById('font_url');
    if (a)
        a.href = '@fontCurrent.FontUrl';
</script>