@{
    IList<SymbolIndex.Models.Symbol> symbols = ViewBag.Symbols;
    SymbolIndex.Models.Font fontCurrent = ViewBag.FontCurrent;
}
<div id="font_id" class="hidden">@fontCurrent.Id</div>
<div id="font_name" class="hidden">@fontCurrent.FontName</div>
<div class="row row-padding-top">
    @{ if (symbols != null)
        {
            foreach (var symbol in symbols)

            {
                <div class="symbol-container" onclick="closeDialog()">
                    <div class="symbol-area hoverx" onclick="showDialog('@symbol.Id', event)">
                        <div class="symbol myFont">
                            <font id="@symbol.Id" size="8" face="@fontCurrent.FontName">@symbol.Content</font>
                        </div>

                        <div id="@(symbol.Id)_tags" class="key">
                            @if (symbol.Tags != null && symbol.Tags.Count > 0)
                            {
                                <text>@symbol.Tags.ElementAt(0).TagString</text>
                            }
                            @if (symbol.Tags.Count > 1)
                            {
                                for (int i = 1; i < symbol.Tags.Count; i++)
                                {
                                    <text>, @(symbol.Tags[i].TagString)</text>
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>